{{#
    @name Banner
    @desc The banner page builder block.
    @set page.page_builder.banner
#}}

<section class="text-gray-600 body-font">
	<div class="bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500"></div>
	{{ page_builder }}
		<div class="mx-auto flex px-5 items-center flex-col relative justify-end bg-cover bg-no-repeat linear h-screen w-full" style="background-image: url('{{ image_background }}');">
	        <div class="text-center  w-full absolute align-bottom mb-16 z-10	">
	            <div class="md:flex w-full justify-evenly font-roboto ">
		            <a href="{{ page_builder:0:button_replicator:0:url }}" class="mb-10 text-bvWhite bg-bvOrange btn">{{ page_builder:0:button_replicator:0:label }}</a>
		            <a href="{{ page_builder:0:button_replicator:1:url }}" class="mb-10 text-bvBlue bg-bvYellow btn">{{ page_builder:0:button_replicator:1:label }}</a>
	            </div>
	        </div>
	    </div>
    {{ /page_builder }}  
</section>
